.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #242424; /* Adjust background color as needed */
  color: #fff; /* Adjust text color as needed */
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
}

.navbar-logo {
  height: 75px;
}

.navbar-header {
  display: flex;
  align-items: center;
  width: 20vw;
  justify-content: space-around;
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

.nav-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin: 0 10px;
}

.nav-links {
  color: inherit;
  text-decoration: none;
  font-size: 1rem;
  transition: all 0.3s ease-in-out;
}

.nav-links:hover {
  color: #00ffff; /* Adjust hover color as needed */
}

/* Add School Button styling (optional) */
.nav-btn {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #00ffff; /* Adjust button color as needed */
  color: #fff; /* Adjust button text color as needed */
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.nav-btn:hover {
  background-color: #00bfff; /* Adjust button hover color as needed */
}
